= sts.card title: t('.messages'), icon: 'fad fa-envelope', content_padding: false, menu: nuntius_messages_menu do |card|
  = card.table :nuntius_messages, parameters: { template_id: params[:template_id] }, custom_views: true
