<!DOCTYPE html>
<html>
<head>
  <title>Nuntius</title>
  <%= stylesheet_link_tag    "nuntius/application", media: "all" %>
  <%= javascript_include_tag "nuntius/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
