= ui_table '/action_table/nuntius_templates', :nuntius_templates

- content_for :context_menu do
  =< link_to(t('nuntius.context_menu.messages'), admin_messages_path, class: 'btn')
  =< link_to(t('nuntius.context_menu.add'), new_admin_template_path, class: 'btn btn-primary')
